/* components/Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(145deg, #FFF9F0, #F0ECE3);
    /* padding: 16px; */
    color: white;
    width: 100%;
    /* height: 5vh; */
    color: #B22222;
    /* border-bottom: 2px solid #ffffff; */
  }

  .ashoka-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 38px;
  }
  .ashoka-logo {
    
    background-color: transparent;
    height: 100px;
    width: 250px;
  }
  
  .navbar-brand {
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  